<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
      initial-scale=1.0"
    />
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Subscribe to
      What's New"
      href="feed.xml"
    />
    <title>Otaking's Japanese Flashcards</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body onload="getRandomWord()">
    <div class="heading">
      <h1>Otaking's Japanese Flashcards<br></h1>
      Made with the help of tutorial by
      <a href="https://www.youtube.com/watch?v=urf3kHQX7aI&t=387s">
        Jonah Poulson.</a
      ><br>
    </div>
    <div class="content">
      <h3 class="term">Term</h3>

      <div class="definition">Definition</div>
      <div class="button"></div>
      <button class="check">Check Definition</button>
      <button class="next">Next Definition</button>
      <p><a href="https://otaking.neocities.org">Back to Catalog</a><br></p>
      &nbsp;
    </div>
    <footer>
      Published: 13 Oct 2021. [<a
        moz-do-not-send="true"
        href="https://www.subscribestar.com/stefano"
        >Donate</a>]<br>
    </footer>
    <script src="/scripts/flashcard.js"></script>
  </body>
</html>
