<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <title>Otaking - Portrait of an Otaku</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A personal site about anime,
      manga, visual novels and otaku culture."
    />
    <meta
      name="keywords"
      content="otaku, anime, manga, visual novels,
      solo rpg"
    />
    <meta name="author" content="Otaking" />

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/styles/styles.css"
    />
    <link rel="stylesheet" href="/styles/mailchimp.css" />
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <div id="tswcontainer">
      <div id="tswheader">
        <!-- start of header section: insert your logo, etc, here -->
        <h1 id='top"' style="text-align: center">Otaking<br /></h1>
        <p style="text-align: center; line-height: 0">
          My Digital Otaku Room<br />
        </p>
        <p style="font-size: x-small; text-align: center">
          This site is a collection of writings and thoughts about anime, and
          other topics by me, Otaking/TGS.
        </p>
        <p
          style="
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            line-height: 0;
          "
        >
          [<a
            moz-do-not-send="true"
            href="https://www.youtube.com/channel/UCA4gWcOoz_FXrtTEemTOtfw"
            >YouTube Channel</a
          >]
        </p>
        <!-- end of header section: insert your logo, etc, above this line -->
      </div>
      <div id="tswcentrecombo">
        <div id="tswcontent">
          <div id="tswcontproper">
            <!-- start of content column: insert your content here -->
            <form method="get" id="search" action="https://duckduckgo.com/">
              <input name="sites" value="otaking.neocities.org" type="hidden" />
              <input
                class="search"
                name="q"
                maxlength="300"
                placeholder="Search"
                type="text"
              />
              [<a moz-do-not-send="true" href="#log">What's New?</a>] [<a
                href="#a"
                title="anime &amp; manga"
                >a</a
              >
              / <a href="#g" title="technology">g</a> /
              <a href="#tg" title="tabletop rpg">tg</a> /
              <a href="#r9k" title="personal">r9k</a> /
              <a href="#b" title="Other">b</a> /
              <a href="#pol" title="Politics">pol</a> /
              <a href="#lit" title="Non-Anime Books">lit</a> /
              <a href="#tv" title="Non-Japanese TV and Film">tv</a> /
              <a
                href="#jp"
                title="desu desu desu desu desu desu desu
                desu desu desu"
                >jp</a
              >] [<a href="https://patreon.com/denpa">Donate to Patreon</a>] [<a
                moz-do-not-send="true"
                href="/about"
                >About</a
              >]<input
                value="Search"
                style="visibility: hidden"
                type="submit"
              />
            </form>
            <hr />
            <h2 id="a">
              /a/ - Anime and Manga [<a moz-do-not-send="true" href="#top"
                >top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a href="http://haruhi.tv/"
                ><img
                  src="/images/anime/haruhi.png"
                  moz-do-not-send="true"
                  alt="haruhi suzumiya"
                  style="width: 40%"
                  title="haruhi
                  suzumiya"
                  width="1280"
                  border="0"
                  align="right"
                  height="1668"
              /></a>
              <li>
                <a moz-do-not-send="true" href="/anime/gundam-x"
                  >Newtypes in After War Gundam X</a
                >
              </li>
              <a moz-do-not-send="true" href="/anime/gundam-x"> </a>
              <li>
                <a moz-do-not-send="true" href="/anime/eve-no-jikan"
                  >Time of Eve Anime Review</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="/gasaraki"
                  >Gasaraki Anime Review</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="panty-stocking"
                  >Panty and Stocking with Garterbelt Review</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="rom-com"
                  >Rom-Com Anime Nostalgia: From Detective Conan to Please
                  Teacher! and Please Twins!</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="/gunbuster"
                  >Re-watching GunBuster</a
                >
              </li>
              <li><a href="berserk">Berserk</a></li>
              <li>
                <a href="eva-retake"
                  >Evangelion Re-Take: An Asuka-fag’s fan comic</a
                >
              </li>
              <li><a href="mu">Anime Music Playlist</a></li>
              <li><a href="jp">Otaku Dictionary [ABANDONED]</a></li>
              <li><a href="quotes">Anime Quotes</a></li>
              <li><a href="rezero2">Why Season 2 of Re:Zero Sucks</a></li>
              <li>
                <a href="broly"
                  >Dragonball Z Broly Movie vs Dragonball Super Broly Movie</a
                >
              </li>
              <li>
                <a href="hentai" moz-do-not-send="true"
                  >Why the Left and Right Hates Hentai</a
                >
              </li>
              <li>
                <a href="thatanimesnob"
                  >Nominate ThatAnimeSnob as a Crunchyroll Awards Judge</a
                >
              </li>
              <li>
                <a href="loli-detective"
                  >Based and Redpilled Loli-Detective Anime</a
                >
              </li>
              <li><a href="anime-web">The Internet Killed Anime</a></li>
              <li>
                <a href="tomboy"
                  >Boku Girl Manga: Tomboy’s Are Better than Onesans</a
                >
              </li>
              <li>
                <a href="hana-to-alice"
                  >Hana to Alice: Satsujin Jiken Anime Movie Review</a
                >
              </li>
              <li><a href="arion">Arion Anime Movie Review</a></li>
              <li>
                <a href="reviewing"
                  >Reflections On the Craft of Reviewing Fiction and Reviewing
                  Anime in Particular as Well</a
                >
              </li>
              <li><a href="watch-anime">Why do I watch Anime?</a></li>
              <li><a href="abenobashi">Abenobashi Review</a></li>
              <li><a href="tylor">The Irresponsible Captain Tylor</a></li>
              <li>
                <a href="sundome">Sundome by Kazuto Okada Manga Review</a>
              </li>
              <li>
                <a href="nhk"
                  >Welcome to the NHK Manga, Anime and Light Novel Review And
                  Comparison</a
                >
              </li>
              <li><a href="eoe">The End of Evangelion Movie Review</a></li>
              <li><a href="bebop">Cowboy Bebop Anime Review</a></li>
              <li><a href="hyouka">Hyouka Anime Review</a></li>
              <li><a href="kaiba">Kaiba Anime Review</a></li>
              <li>
                <a href="gto"
                  >Great Teacher Onizuka Manga + Anime + Live Action Review</a
                >
              </li>
              <li><a href="tatami">Tatami Galaxy Anime Review</a></li>
              <li><a href="ibitsu">Ibitsu Manga Review</a></li>
              <li>
                <a href="husky-medley"
                  >Husky and Medley : A Yuri Manga Review</a
                >
              </li>
              <li><a href="punpun">Oyasumi Punpun Manga Review</a></li>
              <li><a href="paranoia">Paranoia Agent Anime Review</a></li>
              <li>
                <a href="yuuki">Yuuki Shinjuurou: Character Analysis</a>
              </li>
              <li><a href="yang">Yang Wenli: Character Analysis</a></li>
              <li>
                <a href="yahari">Yahari Ore and the Highschool Comedy Genre</a>
              </li>
              <li>
                <a href="nge">Neon Genesis Evangelion Anime Review</a>
              </li>
              <li>
                <a href="logh">Legend of the Galactic Heroes Quotes</a>
              </li>
              <li><a href="kill">Kill la Kill Anime Review</a></li>
              <li><a href="eve">Time of Eve Anime Review</a></li>
              <li><a href="kino">Kino's Journey Anime Review</a></li>
              <li><a href="watamote">Watamote Anime Review</a></li>
              <li>
                <a href="zetsuen">Zetsuen no Tempest Anime Review</a>
              </li>
              <li><a href="un-go">Un-Go Anime Review</a></li>
              <li><a href="top-anime">Otaking's Top 10 Anime</a></li>
              <li>
                <a href="villains"
                  >Anime Rapist Villains Suck; Where have all the good villains
                  gone?</a
                >
              </li>
              <li>
                <a href="over-rated">Top 10 Overrated Anime of All Time</a>
              </li>
              <li><a href="kenshin">Rurouni Kenshin Manga Review</a></li>
              <li>
                <a href="ubw"
                  >Ufotable's Fate Unlimited Blade Works Adaptation</a
                >
              </li>
            </ol>
            <h2 id="g">
              /g/ - Technology [<a moz-do-not-send="true" href="#top">top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a
                href="https://web.archive.org/web/20180602035924/http://futuregadget-lab.us/"
                ><img
                  style="width: 40%"
                  alt="Kurisutina"
                  moz-do-not-send="true"
                  src="/images/anime/kurisutina.png"
                  title="Kurisutina"
                  width="1920"
                  border="0"
                  align="left"
                  height="1080"
              /></a>
              <li>
                <a moz-do-not-send="true" href="/tech/search-anime-blogs"
                  >Search Anime Personal Sites</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="jsdice">jsDice roller</a>
              </li>
              <li>
                <a moz-do-not-send="true" href="copyleft"
                  >Re-assessing Copyleft vs Cuck Licenses</a
                >
              </li>
              <li>
                <a href="kmautofit">Kissmanga Autofit Userscript[ABANDONED]</a>
              </li>
              <li><a href="software">Software I use</a></li>
              <li>
                <a href="linux">Very Bacic Vim and Command-Line Stuff</a>
              </li>
              <li><a href="rpimuds">RPI MUDs are where dramas at</a></li>
              <li><a href="neocities">Pros and Cons of neocities</a></li>
            </ol>
            <h2 id="tg">
              /tg/ - <s>Traditional Games</s> Solo TTRPG [<a
                moz-do-not-send="true"
                href="#top"
                >top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a href="http://swordworld.shoutwiki.com/wiki/Main_Page"
                ><img
                  src="/images/anime/deedlit.png"
                  moz-do-not-send="true"
                  alt="Deedlit"
                  style="width: 40%"
                  title="Deedlit"
                  width="1483"
                  border="0"
                  align="left"
                  height="2168"
              /></a>
              <li>
                <a href="/tg/sos-writing-1">SOS Writing Group Session 1</a>
              </li>
              <li>
                <a moz-do-not-send="true" href="mythic"
                  >Mythic RPG Fate Chart</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="/calculator">Calculator</a>
              </li>
              <li>
                <a moz-do-not-send="true" href="/timer">Countdown Timer</a>
              </li>
              <li>
                <a href="mud-table-talk"
                  >MUDs are the closest thing to Table-Talk RPGs</a
                >
              </li>
              <li>
                <a href="lodoss"
                  >Record of Lodoss War OVA, Basic Fantasy RPG, POSIX,
                  Primitivism, and The Power Process</a
                >
              </li>
              <li><a href="character">My First TTRPG Characters</a></li>
              <li>
                <a href="/world" moz-do-not-send="true"
                  >Original Character - World History</a
                >
              </li>
              <li>
                <a href="/kara-settei" moz-do-not-send="true"
                  >kara-settei - Original Character Design Page</a
                >
              </li>
              <li><a href="solo-rpg-1">Solo RPG #1: First Combat</a></li>
              <li><a href="solo-rpg-2">Solo RPG #2: Lyndis</a></li>
              <li><a href="solo-rpg-3">Solo RPG #3: A Dwarf Thief</a></li>
              <li><a href="shinobigami">Shinobigami Replay Review</a></li>
              <li><a href="solo-rpg-4">SoloRPG #4: First Dungeon</a></li>
              <li><a href="solo-rpg-5">SoloRPG #5: Loot</a></li>
              <li><a href="solo-rpg-6">SoloRPG #6: Wilderness Path</a></li>
              <li><a href="solo-rpg-7">SoloRPG #7: Halfling</a></li>
              <li><a href="solo-rpg-8">SoloRPG #8: Gnolls</a></li>
              <li><a href="solo-rpg-9">SoloRPG #9: Gnoll Encounter</a></li>
            </ol>
            <h2 id="r9k">
              /r9k/ - Personal [<a moz-do-not-send="true" href="#top">top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a
                href="https://artificialnightsky.wordpress.com/2019/02/22/regarding-yukinoshita-yukino/"
                ><img
                  src="/images/anime/yukino.png"
                  moz-do-not-send="true"
                  alt="Yukino Yukinoshita"
                  style="width: 40%"
                  title="Yukino Yukinoshita"
                  width="779"
                  border="0"
                  align="right"
                  height="1152"
              /></a>
              <li>
                <a moz-do-not-send="true" href="/diary/2022/april"
                  >Otaku Nikki - April 2022<br />
                </a>
              </li>
              <li>
                <a moz-do-not-send="true" href="anime-mistake"
                  >Yet Another Abandoned Anime Blog</a
                >
              </li>
              <li><a href="diary">Otaku Diary [ABANDONED]</a></li>
              <li><a href="about">About [OUTDATED BUT WHO CARES]</a></li>
              <li><a href="positive">Positive Thinking</a></li>
              <li><a href="2017">Yearly Plan 2017</a></li>
              <li><a href="status-zero-zero">Status; Zer0</a></li>
              <li>
                <a href="nationalist"
                  >Answering lolwut on my "strong desire to save the West
                  despite being Sri Lankan"</a
                >
              </li>
            </ol>
            <h2 id="b">
              /b/ - Random [<a moz-do-not-send="true" href="#top">top</a>]<br />
            </h2>
            <ol reversed="">
              <a href="https://encyclopediadramatica.online/Rozen_Maiden"
                ><img
                  style="width: 40%; padding-right: 10px"
                  alt="Suigintou"
                  moz-do-not-send="true"
                  src="/images/anime/suigintou.png"
                  title="Suigintou"
                  width="2551"
                  border="0"
                  align="left"
                  height="1900"
              /></a>
              <li>
                <a moz-do-not-send="true" href="/random/comtemptous-norp"
                  >Contemptuous NORP</a
                ><a moz-do-not-send="true" href="online-diaries"> </a>
              </li>
              <li>
                <a moz-do-not-send="true" href="online-diaries"
                  >Article vs Online Diary</a
                >
              </li>

              <li>
                <a moz-do-not-send="true" href="video-essay"
                  >How NOT to make a Video Essay</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="serious">Why So Serious?</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="lumix"
                  >Panasonic Lumix DMC-TZ5 9 Mega-Pixel Camera Review</a
                >
              </li>
              <li><a href="http://otaking.bbs.fc2.com/">Guestbook</a></li>
              <li><a href="links">Links</a></li>
              <li>
                <a href="feed.xml">Blog View Plus RSS Feed [ABANDONED]</a>
              </li>
              <li><a href="feeds">RSS Feeds</a></li>
              <li>
                <a href="git"
                  >A Sarcastic Git Who Is Right Sometimes (Short Story)</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="sneed"
                  >To Sneed or Not To Sneed</a
                ><br />
              </li>
            </ol>
            <h2 id="pol">
              /pol/ - Politically <del>Incorrect</del> <ins>Irrelevant</ins> [<a
                moz-do-not-send="true"
                href="#top"
                >top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a href="https://otaking.neocities.org/logh"
                ><img
                  style="width: 40%"
                  alt="Katerose"
                  moz-do-not-send="true"
                  src="/images/anime/katerose.png"
                  title="Katerose"
                  width="1005"
                  border="0"
                  align="right"
                  height="1445"
              /></a>
              <li>
                <a moz-do-not-send="true" href="politics"
                  >Art vs. Politics: Why I Have Stopped Watching the News &amp;
                  Political Commentary.</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="accusers"
                  >Accusing the Accusers: Evola, Nietzche and Tomboy Abs</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="sex"
                  >Incomplete Views about Pornography and Sexuality</a
                >
              </li>
              <li>
                <a href="academy">The Academy Will Win The Culture War</a>
              </li>
              <li>
                <a href="copyright"
                  >Lolberterian Freetardism: Antitrust is Cancer so Copyright is
                  Cancer.</a
                >
              </li>
              <li>
                <a href="islamwarudo"
                  >The Absolute State of the Islamic World</a
                >
              </li>
              <li>
                <a href="china">Talking With Chinese Nationalists</a>
              </li>
              <li><a href="us-uk">What The US Owes The UK</a></li>
              <li><a href="half-chan">4Chan Used to be Better</a></li>
              <li><a href="christcuck">Christianity is European</a></li>
              <li><a href="france">France</a></li>
              <li><a href="nietzche-rand">Nietzche Contra Rand</a></li>
              <li>
                <a href="parallel">Decentralised Parallel Institutions</a>
              </li>
              <li>
                <a href="united-states"
                  >Orderly Dissolution of the United States into Its Component
                  Parts</a
                >
              </li>
              <li><a href="porn">Who is Exploited by Pornography?</a></li>
              <li>
                <a href="beauty"
                  >Why Beauty Paegants Should Be Just About Beauty</a
                >
              </li>
              <li><a href="incel-birthrate">Incels and Birthrates</a></li>
              <li>
                <a href="traditionalism"
                  >Traditionalism is the glorification of boredom</a
                >
              </li>
              <li>
                <a href="human"
                  >A Final Solution To The Human Problem -Short Story-</a
                >
              </li>
              <li>
                <a href="anti-natalist"
                  >An Argument Against Anti-Natalism And A Question For
                  Anti-Natalists</a
                >
              </li>
              <li><a href="god">God is Watching You</a></li>
              <li>
                <a href="pessimism">On Pessimism in Political Discourse</a>
              </li>
              <li>
                <a href="care"
                  >Nobody really cares about ‘liberalism’ and ‘democracy’ I am
                  afraid</a
                >
              </li>
              <li><a href="island">No Man is an Island</a></li>
              <li>
                <a href="just-meme"
                  >‘It’s just a meme’ – Post-modern Reactionaries – The
                  Alt-Right</a
                >
              </li>
              <li>
                <a href="moralfag">Moral Faggotry (or Virtue-Signalling)</a>
              </li>
              <li><a href="iq">IQ</a></li>
              <li>
                <a href="life"
                  >An Apologia for Human Life. (Should you bring a child into
                  this world full of suffering?)</a
                >
              </li>
              <li><a href="femininity">Femininity</a></li>
              <li><a href="masculinity">Masculinity</a></li>
              <li>
                <a href="beholder"
                  >Beauty is (not) in the eye of the beholder</a
                >
              </li>
              <li><a href="stereotype">Stereotypes</a></li>
              <li><a href="hololita">Loli Holocaust</a></li>
              <li><a href="leftypol">Why Can't the Left Meme?</a></li>
              <li><a href="community">Community</a></li>
              <li><a href="objects">Sexual Objectification</a></li>
              <li><a href="libertarianism">Libertarianism</a></li>
              <li>
                <a href="atheist-exe">Atheism.exe has stopped working.</a>
              </li>
              <li><a href="mgtow">MGTOW</a></li>
              <li>
                <a href="abortion"
                  >Abortion and Other Socially Acceptable Forms of Murder</a
                >
              </li>
              <li><a href="blog">Trouble with Blogs</a></li>
              <li>
                <a href="germania"
                  >George Orwell: Futuro di una Germania in Rovina</a
                >
              </li>
              <li><a href="genes">Genes</a></li>
              <li>
                <a href="feelings"
                  >“His Feelings Aren’t Worth My Rights Being Stripped”</a
                >
              </li>
              <li><a href="fat">Orwell’s World of Little Fat Men</a></li>
              <li>
                <a href="britisher"
                  >On the Mostly Peaceful but Fiery Protest at the US Capitol</a
                >
              </li>
              <li>
                <a href="liberal"
                  >Chatting with an American liberal in Germany Part 1</a
                >
              </li>
              <li>
                <a href="liberal-2"
                  >Chatting with an American liberal in Germany Part 2</a
                >
              </li>
              <li>
                <a href="larp">
                  Traditionalist Pereniallism: The Larp Who Larpeth, Copeth but
                  Not Faileth</a
                >
              </li>
              <li><a href="socialist">Talking With A Socialist</a></li>
            </ol>
            <h2 id="lit">
              /lit/ - Non-Otaku Literature [<a
                moz-do-not-send="true"
                href="#top"
                >top</a
              >]
            </h2>
            <ol reversed="">
              <a href="https://www.mangaupdates.com/series?id=113812"
                ><img
                  src="/images/anime/hibiki.png"
                  moz-do-not-send="true"
                  alt="hibiki"
                  style="width: 40%"
                  title="hibiki"
                  width="847"
                  border="0"
                  align="right"
                  height="1200"
              /></a>
              <li>
                <a href="/lit/live-fall">To Live is to Fall [Poem]</a>
              </li>
              <li>
                <a moz-do-not-send="true" href="/lit/under-the-cherry-blossoms"
                  >Ango Sakaguchi's Under the Cherry Blossoms in Full Bloom
                  (1947)</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="/lit/orwell-life-letters"
                  >George Orwell: A Life in Letters</a
                ><br />
              </li>

              <li>
                <a moz-do-not-send="true" href="/lit/kokoro-revisited"
                  >Kokoro Re-visited</a
                ><br />
              </li>

              <li>
                <a moz-do-not-send="true" href="setting-sun"
                  >The Setting Sun" by Osamu Dazai Book Review</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="decadence"
                  >Darakuron: A Thesis on Decadence by Ango Sakaguchi</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="nietzche"
                  >Will to Power And Nothing Besides!</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="mishima-mask"
                  >Confessions of a Mask by Yukio Mishima Book Review</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="pop"
                  >The Defenders of Pop Culture vs High Culture&nbsp; </a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="copycat"
                  >Why I am Against Copyright</a
                >
              </li>
              <li><a href="fiction">Can Fiction Be Anti-Escapist?</a></li>
              <li>
                <a href="purpose-fiction">What is The Purpose of Fiction?</a>
              </li>
              <li>
                <a href="writing"
                  >My Experience Writing Fiction vs. Writing Non Fiction</a
                >
              </li>
              <li><a href="persepolis">Persepolis Movie Review</a></li>
              <li>
                <a href="paine"
                  >Thomas Paine’s Rights of Man by Christopher Hitchens Book
                  Review</a
                >
              </li>
              <li>
                <a href="botton"
                  >The Consolations of Philosophy by Alain De Botton Book
                  Review</a
                >
              </li>
              <li>
                <a href="kokoro">Kokoro by Natsume Soseki Book Review</a>
              </li>
              <li>
                <a href="dazai">No Longer Human by Osamu Dazai Book Review</a>
              </li>
              <li>
                <a href="mol">Mother of Learning Web Novel Review</a>
              </li>
              <li>
                <a href="douchebag"
                  >Review of The Douchebag Bible by T J Kirk (The Amazing
                  Atheist)
                </a>
              </li>
              <li>
                <a href="wolves"
                  >A Review of Angela Carter’s “The Company of Wolves”
                </a>
              </li>
              <li>
                <a href="sunk-cost-blogging">Sunk Cost Fallacy Blogging</a>
              </li>
            </ol>
            <h2 id="tv">
              /tv/ - Non-Japanese Television &amp; Film [<a
                moz-do-not-send="true"
                href="#top"
                >top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a
                href="https://www.baka-tsuki.org/project/index.php?title=Zero_no_Tsukaima"
                ><img
                  src="/images/anime/louise.png"
                  moz-do-not-send="true"
                  alt="Louise"
                  style="width: 40%"
                  title="Louise"
                  width="1024"
                  border="0"
                  align="left"
                  height="764"
              /></a>
              <li>
                <a
                  moz-do-not-send="true"
                  href="/live-action/western/barry-lyndon"
                  >Barry Lyndon: Kubrick's Rejection of Progress</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="twin-peaks-1"
                  >Twin Peaks Season 1 Review</a
                ><br />
              </li>

              <li>
                <a moz-do-not-send="true" href="mcu-2"
                  >Universe Now By Zarathustra's Serpent Amazon.co.uk</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="withnail"
                  >Withnail &amp; I Review</a
                >
              </li>
              <li><a href="lotr">Lord of The Rings Triology Review</a></li>
              <li>
                <a href="mcu"
                  >Universe Now: How The Marvel Cinematic Universe Changed Our
                  World by Zarathustra' Serpent (Arad Alper)"</a
                >
              </li>
            </ol>
            <br />
            <h2 id="jp">
              /jp/ - Otaku Culture [<a moz-do-not-send="true" href="#top">top</a
              >]<br />
            </h2>
            <ol reversed="">
              <a href="https://anidb.net/anime/3408"
                ><img
                  src="/images/anime/shana.png"
                  moz-do-not-send="true"
                  alt="Shana"
                  style="width: 40%"
                  title="Shana"
                  width="709"
                  border="0"
                  align="right"
                  height="1500"
              /></a>
              <li>
                <a
                  moz-do-not-send="true"
                  href="/live-action/japanese/throw-away-your-books"
                  >Shūji Terayama’s Throw Away Your Books, And Rally in The
                  Streets Movie Review</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="/light-novels/nhk"
                  >Added Welcome to the NHK Novel Review</a
                >
              </li>

              <li>
                <a moz-do-not-send="true" href="/flashcards"
                  >Japanese Flashcards</a
                ><br />
              </li>
              <li>
                <a moz-do-not-send="true" href="sword-world"
                  >Sword World RPG Interview : The Most Popular Japanese
                  Table-Top RPG</a
                >
              </li>
              <li>
                <a moz-do-not-send="true" href="love-pop"
                  >Love &amp; Pop to 1998 Hideaki Anno Film Review</a
                >
              </li>
              <li>
                <a href="japanese">Pros and Cons of Learning Japanese</a>
              </li>
              <li>
                <a href="suicideclub">Suicide Club and 12 Suicidal Children</a>
              </li>
              <li>
                <a href="slum-online"
                  >Slum Online by Hiroshi Sakurazaka Light Novel Review</a
                >
              </li>
              <li><a href="gekkou">Gekkou Light Novel Review</a></li>
              <li><a href="waifu">Pantheon of Waifus</a></li>
              <li>
                <a href="lily-chou"
                  >All About Lily Chou Chou by Shunji Iwai Film Review</a
                >
              </li>
            </ol>
            <p>mailbox: stefankeys at yahoo dot co dot jp</p>
            <p>
              BTC: 1JLpD6dDiz7FQ9JGJjCKvUtG6QkSYhWxsA<br />
              BTC: [<a moz-do-not-send="true" href="/images/btc-qr-code.jpg"
                >QR CODE</a
              >]<br />
            </p>
            <a href="https://www.patreon.com/denpa"
              ><img
                style="margin-left: auto; margin-right: auto; display: block"
                src="images/donate.png"
                moz-do-not-send="true"
                alt="donate to my patreon"
                width="160"
                border="0"
                height="47"
            /></a>
            <hr />
            <p>
              &nbsp;All content on this site is shared under the
              <a moz-do-not-send="true" href="license"
                ><i>DWFYWP License Version 2.</i></a
              >
              [<a moz-do-not-send="true" href="#top">top</a>]<br />
            </p>
            <marquee behavior="alternate" direction="left" scrollamount="5">
              <img
                src="/images/otaking_button.png"
                alt="Otaking Website
              Button"
                title="Otaking"
              />
              <a href="http://www.desuroom.cf/"
                ><img
                  src="/images/desuroom-revival.png"
                  alt="Desu Room
                Website Button"
                  title="Desu Room"
              /></a>
              <a href="http://www.lolwut.info/"
                ><img
                  src="/images/lolwut-button.png"
                  alt="lolwut? Website
                Button"
                  title="lolwut?"
              /></a>
              <a href="https://dawa.neocities.org/"
                ><img
                  src="/images/kino-button.gif"
                  alt="Kinon's Website
                Button"
                  title="Kinon's site"
              /></a>
              <a href="https://fka.cx/"
                ><img
                  src="/images/kolyma-button.png"
                  alt="kolyma Website
                Button"
                  title="kolyma Web Hosting"
              /></a>
              <a href="https://madville.neocities.org/"
                ><img
                  src="/images/madville.gif"
                  alt="Madville Website Button"
                  title="Madville"
              /></a>
              <a href="https://pnnamerica.neocities.org/"
                ><img
                  src="/images/PNN.png"
                  alt="PNN America"
                  title="PNN
                America"
              /></a>
              <a href="https://img.heyuri.net/b/"
                ><img
                  src="/images/heyuri.gif"
                  alt="Heyuri: It's the place to
                be"
                  title="Heyuri: It's the place to be"
              /></a>
              <a href="http://www.wtfpl.net/about/"
                ><img
                  src="/images/wtfpl.png"
                  alt="WTFPL Version 2"
                  title="WTFPL Version 2"
              /></a>
              <a href="https://artificialnightsky.neocities.org/"
                ><img
                  src="/images/parz.gif"
                  alt="Artificial Night Sky"
                  title="Artificial Night Sky"
              /></a>
              <a href="https://waifucafe.neocities.org/"
                ><img
                  src="/images/waifucafe.png"
                  alt="waifucafe"
                  title="waifucafe"
              /></a>
              <a href="https://incelperspective.neocities.org/"
                ><img
                  src="/images/incelperspective.png"
                  alt="incelperspective"
                  title="incelperspective"
              /></a>
            </marquee>
            <!-- end of content column: put your content above this line -->
          </div>
        </div>
        <div id="tswothersidecol">
          <div id="tswothersideproper">
            <!-- start of side column: insert your navigation menu, etc, here -->
            <h2 id="log" align="center">
              What's New? [<a moz-do-not-send="true" href="#top">top</a>]<br />
            </h2>
            <ul style="border: 1px solid #5070c0; background: #cccccc">
              <li>
                04/10/2022: Added
                <a href="/lit/live-fall">To Live is to Fall [Poem]</a>
                to [/<a href="#lit">lit</a>/]
              </li>
              <li>
                25/08/2022: Added
                <a href="/tg/sos-writing-1">SOS Writing Group Session 1</a>
              </li>
              <li>
                03/05/2022: Added
                <a moz-do-not-send="true" href="/random/comtemptous-norp"
                  >Contemptuous NORP</a
                >
                to [/<a moz-do-not-send="true" href="#b">b</a>/]<br />
              </li>
              <li>
                31/05/2022: Added
                <a moz-do-not-send="true" href="/lit/under-the-cherry-blossoms"
                  >Ango Sakaguchi's Under the Cherry Blossoms in Full Bloom
                  (1947)</a
                >
                to [/<a moz-do-not-send="true" href="#lit">lit</a>/]<br />
              </li>

              <li>
                16/05/2022: Added
                <a
                  moz-do-not-send="true"
                  href="/live-action/japanese/throw-away-your-books"
                  >Shūji Terayama’s Throw Away Your Books, And Rally in The
                  Streets Movie Review</a
                >
                to [/<a moz-do-not-send="true" href="#jp">jp</a>/]<br />
              </li>

              <li>
                08/05/2022: Added
                <a
                  moz-do-not-send="true"
                  href="/live-action/western/barry-lyndon"
                  >Barry Lyndon: Kubrick's Rejection of Progress</a
                >
                to [/<a moz-do-not-send="true" href="#tv">tv</a>/]<br />
              </li>

              <li>
                06/05/2022: Added
                <a moz-do-not-send="true" href="/lit/orwell-life-letters"
                  >George Orwell: A Life in Letters</a
                >
                to [/<a moz-do-not-send="true" href="#lit">lit</a>/]<br />
              </li>

              <li>
                26/04/2022:
                <a moz-do-not-send="true" href="/light-novels/nhk"
                  >Added Welcome to the NHK Novel Review</a
                >
                to [/<a moz-do-not-send="true" href="#jp">jp</a>/].<br />
              </li>

              <li>
                22/04/2022: Updated
                <a moz-do-not-send="true" href="/hentai">Hentai</a><br />
              </li>
              <li>
                21/04/2022: Added
                <a moz-do-not-send="true" href="/tech/search-anime-blogs"
                  >Search Anime Personal Sites</a
                >
                to [/<a moz-do-not-send="true" href="#g">g</a>/].<br />
              </li>
              <li>
                16/04/2022: Added
                <a moz-do-not-send="true" href="/#newsletter"
                  >Monthly Newsletter</a
                >.<br />
              </li>
              <li>
                15/04/2022: Added
                <a moz-do-not-send="true" href="/anime/gundam-x"
                  >Newtypes in After War Gundam X</a
                >
                to [/<a moz-do-not-send="true" href="#a">a</a>/]<br />
              </li>
              <li>
                11/04/2022: Added
                <a moz-do-not-send="true" href="/lit/kokoro-revisited"
                  >Kokoro Re-visited</a
                >
                to [/<a moz-do-not-send="true" href="#lit">lit</a>/]<br />
              </li>
              <li>
                08/04/2022: Added
                <a moz-do-not-send="true" href="/anime/eve-no-jikan"
                  >Time of Eve Anime Review</a
                >
                to [/<a moz-do-not-send="true" href="#a">a</a>/]<br />
              </li>
              <li>
                07/04/2022: Added<a
                  moz-do-not-send="true"
                  href="online-diaries"
                >
                  Article vs Online Diary</a
                >
                to [/<a moz-do-not-send="true" href="#b">b</a>/]<br />
              </li>
              <li>
                04/04/2022: Added
                <a moz-do-not-send="true" href="mythic"
                  >Mythic RPG Fate Chart</a
                >
                to [/<a moz-do-not-send="true" href="#tg">tg</a>/]<br />
              </li>
              <li>
                01/04/2022: Added
                <a moz-do-not-send="true" href="/diary/2022/april"
                  >Otaku Nikki April 2022</a
                >
                to [/<a moz-do-not-send="true" href="#r9k">r9k</a>/]<br />
              </li>
              <li>
                27/03/2022: Added
                <a moz-do-not-send="true" href="setting-sun"
                  >The Setting Sun Book Review</a
                >
                to [/<a moz-do-not-send="true" href="#lit">lit</a>/]<br />
              </li>
              <li>
                26/03/2022: Added
                <a moz-do-not-send="true" href="anime-mistake"
                  >Yet Another Abandoned Anime Blog</a
                >
                to [/<a moz-do-not-send="true" href="#r9k">r9k</a>/] <br />
              </li>
              <li>
                25/03/2022: Added
                <a moz-do-not-send="true" href="/calculator/index"
                  >Calculator</a
                >
                to [/<a moz-do-not-send="true" href="#tg">tg</a>/].<br />
              </li>
              <li>
                25/03/2022: Added
                <a moz-do-not-send="true" href="/timer/index"
                  >Countdown Timer</a
                >
                to [/<a moz-do-not-send="true" href="#tg">tg</a>/]<br />
              </li>
              <li>
                25/03/2022: Added<a moz-do-not-send="true" href="decadence">
                  Darakuron: A Thesis on Decadence by Ango Sakaguchi</a
                >
                to [<a moz-do-not-send="true" href="decadence">/lit/</a>].<br />
              </li>
              <li>
                22/03/2022: Added
                <a moz-do-not-send="true" href="/flashcards"
                  >Japanese Flashcards</a
                >
                Page. Added
                <a moz-do-not-send="true" href="jsdice">jsDice roller</a>.<br />
              </li>
              <li>
                06/03/2022: Added
                <a moz-do-not-send="true" href="sneed"
                  >To Sneed or Not To Sneed</a
                >
                to [/<a moz-do-not-send="true" href="#b">b</a>/]<br />
              </li>
              <li>
                25/02/2022: Added
                <a moz-do-not-send="true" href="copyleft"
                  >Re-assessing Copyleft vs Cuck Licenses</a
                >
                to [/<a moz-do-not-send="true" href="#g">g</a>/]
              </li>
              <li>
                25/02/2022: Changed Site License to
                <a moz-do-not-send="true" href="license">WTFPL</a>.<br />
              </li>
              <li>
                23/02/2022: Added
                <a moz-do-not-send="true" href="sword-world"
                  >Sword World RPG Interview : The Most Popular Japanese
                  Table-Top RPG</a
                >
                to [/<a moz-do-not-send="true" href="#jp">jp</a>/]<br />
              </li>
              <li>
                17/02/2022: Added<a moz-do-not-send="true" href="politics">
                  Art vs. Politics: Why I Have Stopped Watching the News &amp;
                  Political Commentary.</a
                ><br />
                &nbsp; to [/<a moz-do-not-send="true" href="#pol">pol</a>/]
              </li>
              <li>
                <a moz-do-not-send="true" href="2021">2021 Changelog</a><br />
              </li>
            </ul>
            <!-- Begin Mailchimp Signup Form -->
            <h2 id="newsletter">
              Monthly Newsletter [<a moz-do-not-send="true" href="#top">top</a>]
            </h2>
            <b> Disable adblocker if signup form does not work.</b><br />
            <link
              href="/styles/mailchimp.css"
              rel="stylesheet"
              type="text/css"
            />
            <style type="text/css">
              #mc_embed_signup{background:#cccccc; border: 1px solid #5070c0; background: #cccccc clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
              <form
                action="https://club.us2.list-manage.com/subscribe/post?u=6362b8166dfb161d50851b89a&amp;id=8beddeca98"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate=""
              >
                <div id="mc_embed_signup_scroll">
                  <h2>Subscribe</h2>
                  <div class="indicates-required">
                    <span class="asterisk">*</span> indicates required
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL"
                      >Email Address <span class="asterisk">*</span>
                    </label>
                    <input
                      name="EMAIL"
                      class="required email"
                      id="mce-EMAIL"
                      type="email"
                    />
                  </div>
                  <div id="mce-responses" class="clear foot"></div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px"
                    aria-hidden="true"
                  >
                    <input
                      name="b_6362b8166dfb161d50851b89a_8beddeca98"
                      tabindex="-1"
                      type="text"
                    />
                  </div>
                  <div class="optionalParent">
                    <div class="clear foot">
                      <input
                        value="Subscribe"
                        name="subscribe"
                        id="mc-embedded-subscribe"
                        class="button"
                        type="submit"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
            <!-- end of side column: put your navigation menu, etc, above this line -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
